<div id="chatter" class="">
<%= form_for(:messaging,:url => {:controller=>'messagings' ,:action => 'create'}, remote: true) do |f| %>
  <div>
<span class="add-on">
	<i class="icon-user"></i>
  	<%= f.text_field :to_id , data: {autocomplete_source: users_path}, class: "span1" %>
</span>
  </div>
  	  <%= f.label :messages %>
  	  <div id="contMessages" class="well well-small">

  	  </div>
  	  <div class="control-group">
		<div class="controls">	
  	  		<div class="input-prepend">
  	  			<span class="add-on"><i class="icon-envelope"></i>
      				<%= f.text_field :message , class: "span2 " %>
      	      	 </span>
      	     </div> 
      	</div> 	 
      	      	  <%= f.submit "Message", class: "btn btn-mini btn-inverse" ,id:"chatter_btn" %>

      </div>	


 
<% end %>
</div>